
body{
    background-color: blueviolet;
}

.xacnhan {
    border: 1px solid;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 40px;
    background: content-box;
    color:black;
    margin-top: 8px;
}
input, button, select, textarea {
    border: crimson;
    font-family: inherit;
    font-size: inherit;
   
}
input, button, select, textarea  :hover{
    
    /* transition: cubic-bezier(0.075, 0.82, 0.165, 1); */
    transition: cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: 0.23s;
   
}